$primary-color: #f9c300;
$secondary-color: #01060a;
$bg-color: #ffffff;

$text-primary: #0a0a0b;
$sub-text: #222629;
$text-secondary: #ffffff;
$button-text: #f9c300;

$border-grey: #cfcfd0;

$max-width: 1600px;

$header-max-width: 1600px;
