.recognitionCard{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    justify-content: center;
    width: 9.625rem;
    padding: 1rem;
    // border-right: 0.0625rem solid #AEAEAE;
    position: relative;
    border-right: none;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60%; // adjust as needed
        width: 1px;
        background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(174, 174, 174, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
    &.noBorder::after {
        display: none;
    }
    .image{
        width: auto;
        height: auto;
    }
    .title{
        font-size: .6875rem;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    height: 1.75rem;

    display: -webkit-box;              // Required
    -webkit-box-orient: vertical;      // Required
    overflow: hidden;                  // Required
    -webkit-line-clamp: 2;      
    }
}